
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <h1>Организации</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn custom-button">Создать организацию</button>
    </form>
    <h2>Существующие организации</h2>
    {% for organization in organizations %}
      <div class="card w-50">
        <div class="card-body">
          <h4 class="card-title">{{ organization.title }}</h4>
          <p class="card-text">{{ organization.description }}</p>
          <p class="card-text">{{ organization.address }}</p>
          <p class="card-text">{{ organization.postcode }}</p>
          <a href="{% url 'organization-profile' organization.id %}" class="btn btn-primary">Просмотреть профиль</a>
        </div>
      </div>
    {% empty %}
      <p>Организации не найдены</p>
    {% endfor %}
  {% endblock %}

</body>
